* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	background-color: #353535;
}

.header {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: start;
	padding-left: 80px;
	width: 100%;
	height: 100px;
	background-color: #fdfdfd;
	box-shadow: 0 2px 10px black;
}

h1 {
	font-size: 25px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	text-transform: uppercase;
	letter-spacing: 10px;
	color: rgb(63, 68, 75);
	text-shadow: 0px 0px 2px #5e5e5ec7;
}

.buttons {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	position: absolute;
	right: 80px;
	height: 60px;
	width: 650px;
}

.btn1,
.btn2,
.btn3,
.btn4,
.btn5 {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100px;
	height: 40px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 15px;
	cursor: pointer;
	color: #fff;
	border: 0;
	border-radius: 5px;
	background-color: #686767;
	transition: all 0.4s;

	&:hover {
		box-shadow: 0px 2px 2px rgba(54, 54, 54, 0.582);
	}
}

.btn1 {
	background-color: green;

	&:hover {
		background-color: rgb(34, 184, 34);
	}
}

.btn2 {
	background-color: rgb(184, 184, 18);

	&:hover {
		background-color: rgb(219, 219, 35);
	}
}

.btn3 {
	background-color: red;

	&:hover {
		background-color: rgb(231, 28, 28);
	}
}

// Awaria Button
.btn4 {
	font-weight: bold;
	border: 2px solid rgb(80, 80, 80);
	letter-spacing: 1px;
	background-color: #e2ded7;
	color: #383838;

	&:hover {
		background-color: #ff0000;
		color: #fff;
	}
}

// Resetuj button
.btn5 {
	background-color: #e2ded7;
	border: 2px solid rgb(80, 80, 80);
	color: #383838;
	font-weight: bold;

	&:hover {
		background-color: #fffb00;
	}
}

.main {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 50%;
	left: 50%;
	margin-top: 50px;
	transform: translate(-50%, -50%);
	width: 800px;
	height: 600px;
	background-color: #ffffff17;
}

.lamp-stand {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	width: 200px;
	height: 450px;
	background-color: #2e2929;
	border-radius: 50px;
	border: 10px solid rgb(228, 166, 34);
	border-left: 20px solid rgb(228, 166, 34);
	border-right: 20px solid rgb(228, 166, 34);
	box-shadow: 0 0 7px black;
}

.lamp {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 2px solid silver;
	background-color: #383737;
	box-shadow: 0 0 px black;
}

.red-light {
	background-color: red;
	box-shadow: 0 0 20px red;
	border: 0;
}

.yellow-light {
	background-color: yellow;
	box-shadow: 0 0 20px yellow;
	border: 0;
}

.green-light {
	background-color: lime;
	box-shadow: 0 0 20px lime;
	border: 0;
}

.danger-light {
	background-color: #fff;
	animation: danger 0.5s linear alternate infinite;
}

.warring-buttons {
	width: 240px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	border-radius: 7px;
	background-color: #bd2222d7;
}

@keyframes danger {
	from {
		background-color: #383737;
	}

	to {
		background-color: yellow;
	}
}
