* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #353535;
}

.header {
	position: relative;
	height: 10vh;
	background-color: #fdfdfd;
	box-shadow: 0 2px 10px black;
}

.title {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 10vh;

	h1 {
		font-size: 17px;
		font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
		text-transform: uppercase;
		letter-spacing: 5px;
		color: rgb(63, 68, 75);
		text-shadow: 0px 0px 2px #5e5e5ec7;
	}
}

.buttons {
	position: relative;
	top: 0;
	left: 50%;
	width: 380px;
	height: 50px;
	height: 8vh;
	transform: translateX(-50%);
	display: flex;
	align-items: center;
	justify-content: center;
	justify-content: space-evenly;
	border-radius: 0 0 10px 10px;
	background-color: #211f1f;
}

.btn1,
.btn2,
.btn3,
.btn4,
.btn5 {
	width: 60px;
	height: 35px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 15px;
	color: #fff;
	border: 0;
	border-radius: 3px;
	transition: all 0.4s;
	cursor: pointer;

	&:hover {
		box-shadow: 0px 2px 2px rgba(54, 54, 54, 0.582);
	}
}

.btn1 {
	background-color: green;

	&:hover {
		background-color: rgb(34, 184, 34);
	}
}

.btn2 {
	background-color: rgb(184, 184, 18);

	&:hover {
		background-color: rgb(219, 219, 35);
	}
}

.btn3 {
	background-color: red;

	&:hover {
		background-color: rgb(231, 28, 28);
	}
}

// Awaria Button
.btn4 {
	border: 2px dashed tomato;
	background-color: #191918;

	&:hover {
		background-color: #ff0000;
		color: #fff;
	}
}

// Resetuj button
.btn5 {
	border: 2px dashed tomato;
	background-color: #191918;

	&:hover {
		background-color: #fffb00;
	}
}

//==============================================

.main {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 82vh;
}

.lamp-stand {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	width: 200px;
	height: 450px;
	background-color: #2e2929;
	border-radius: 50px;
	border: 10px solid rgb(228, 166, 34);
	border-left: 20px solid rgb(228, 166, 34);
	border-right: 20px solid rgb(228, 166, 34);
	box-shadow: 0 0 7px black;
}

.lamp {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 2px solid silver;
	background-color: #383737;
	box-shadow: 0 0 px black;
}

.red-light {
	background-color: red;
	box-shadow: 0 0 20px red;
	border: 0;
}

.yellow-light {
	background-color: yellow;
	box-shadow: 0 0 20px yellow;
	border: 0;
}

.green-light {
	background-color: lime;
	box-shadow: 0 0 20px lime;
	border: 0;
}

.danger-light {
	background-color: #fff;
	animation: danger 0.5s linear alternate infinite;
}

@keyframes danger {
	from {
		background-color: #383737;
	}

	to {
		background-color: yellow;
	}
}
